SECRET_KEY=(ciwmolnau!u40z8wk85s3g-pch=!c3j#^(1d4wdnu8kwo=d46
DEBUG=dev

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_NAME=contractor
DB_PORT=5432

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379
CELERY_DEFAULT_QUEUE=contractor